* {
  padding: 0;
  margin: 0;
}

:root {
  --light-text: #000;
  --dark-text: #fff;
  --light-bg: #fff;
  --dark-bg: #ccc;
}

.lighThem {
  color: var(--light-text);
  background: var(--light-bg);
}

.darkTheme {
  color: var(--dark-text);
  background: var(--dark-bg);
}

.App {
  text-align: center;
  height: 100vh;
}
