* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* overflow: hidden; */
}
@media only screen and (max-width: 1204px) {
  .content-left {
    display: none;
  }
  .header-container {
    width: 100% !important;
  }
  .content {
    width: 100% !important;
  }
  .footer-content {
    width: 100% !important;
  }
}
